body {
    --bg-color: #030F18;
    --bg-color-light: #082942;
    --bg-color-lighter: #093658;
    --primary-color: #BD6804;
    --secondary-color: #cecbcb;
    --secondary-color-darker: #a09f9f;
    --secondary-color-brighter: #ffffff;
    --link-color: #0a9ad3;
    --button-color-success: #26922b;
    --button-color-failure: #800c0c;

    font-family: "Red Hat Text", serif;
    color: var(--secondary-color);
    background: var(--bg-color);

    display: flex;
    flex-direction: column;

    min-height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    outline: none;
    border: none;
    box-sizing: border-box; /* reset padding and size quirks */
}

input:focus,
input:hover,
input:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.code {
    display: flex;
    justify-content: center;
}
code {
    background-color: rgb(43, 45, 52);
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}
a:hover {
    color: var(--secondary-color-brighter);
}
.visible-link {
    color: var(--link-color);
}

.nav {
    text-align: center;
    font-size: 18px;
}
.nav-link {
    margin: 4px;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding-top: 100px;
}
.footer-link {
    margin: 4px;
}

.home--container {
    margin: auto;
    text-align: center;
    margin-top: 70px;
    height: 600px;
    font-size: 18px;
}

.home--name-container {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.8px;
}
.home--first-name {
    margin-right: 18px;
}

.home--separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home--separator {
    width: 423px;
    height: 1px;
    background: var(--secondary-color);
}

.home--description {
    margin-top: 7px;
}

.recent-essays--container {
    margin: auto;
    width: 450px;
    text-align: left;

    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 13px;
    border: 1px solid #675C5C;
}
.recent-essays--title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.recent-essays--see-more-container {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
}
.recent-essays--see-more-link {
    font-size: 17px;
    color: var(--primary-color);
}

.essays--container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 550px;
    width: 100%;
}
.essays--item {
    margin-top: 15px;
}
.essays--title {
    font-size: 22px;
    color: var(--primary-color);
}
.essays--date {
    font-size: 16px;
    color: var(--secondary-color-darker);
}

.essay--container {
    margin: auto;
    max-width: 600px;
}
.essay--title {
    text-align: center;
    font-size: 36px;
    color: var(--primary-color);
    margin-top: 50px;
}
.essay--date {
    font-size: 16px;
    color: var(--secondary-color-darker);
    margin-top: 30px;
}
.essay--content {
    font-size: 20px;
    color: var(--secondary-color);
}
.essay--navigation {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 17px;
    color: var(--secondary-color-darker);
}
.essay--navigation--title {
    font-size: 22px;
    color: var(--primary-color);
}


.newsletter--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 600px;
    max-width: 100%;

    border-radius: 13px;
    border: 1px solid var(--secondary-color-darker);
}

#newsletter--call-to-action {
    width: 400px;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color)
}

.newsletter--input-container {
    width: 400px;
    max-width: 100%;
}
#newsletter--input-email {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    width: 100%;
    height: 45px;
    border: 3px solid var(--bg-color-light);
    border-radius: 5px;
}

#newsletter--input-email:focus {
    border: 3px solid var(--bg-color-lighter);
}

#newsletter--input-email:hover {
    border: 3px solid var(--bg-color-lighter);
}

.newsletter--button-container {
    margin-top: 10px;
    width: 400px;
    max-width: 100%;
}
#newsletter--button-subscribe {
    font-size: 20px;
    height: 45px;
    width: 100%;
    background-color: var(--bg-color-light);
    color: var(--secondary-color-brighter);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

#newsletter--button-subscribe:hover:not(:disabled) {
    color: rgb(230, 225, 225);
    background-color: var(--bg-color-lighter);
}

#newsletter--button-subscribe:disabled {
    cursor: not-allowed;
}

#newsletter--button-subscribe.success {
    background-color: var(--button-color-success);
    cursor: default;
}

#newsletter--button-subscribe.failure {
    background-color: var(--button-color-failure);
    cursor: default;
}

#newsletter--button-subscribe.loading {
    animation: pulse 1.5s ease-in-out infinite;
    cursor: wait;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

@media screen and (max-width: 690px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
    }
    .nav {
        font-size: 15px;
    }

    .home--container {
        margin-top: 60px;
        height: 300px;
    }

    .essays--title {
        font-size: 19px;
    }
    .essays--date {
        font-size: 14px;
    }

    .essay--title {
        font-size: 22px;
        text-align: left;
    }
    .essay--date {
        font-size: 15px;
    }
    .essay--content {
        font-size: 17px;
    }
}

@media screen and (max-width: 540px) {
    .home--container {
        margin: 0;
        margin-top: 60px;
        height: 300px;
    }
    .essay--navigation {
        border-bottom: 1px solid var(--secondary-color-darker);
        border-radius: 0;
    }
    .newsletter--container {
        border: none;
    }
    #newsletter--call-to-action {
        font-size: clamp(16px, 5.6vw, 100px); /* this dynamically changes font size depending on width */
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .home--name-container {
        font-size: 33px;
    }
    .home--separator {
        width: 290px;
    }
    .recent-essays--container {
        width: 90%;
    }
    .recent-essays--see-more {
        margin-top: 25px;
    }
}